-- Đảm bảo đang sử dụng cơ sở dữ liệu quanly_caphe
USE quanly_caphe;
GO

-- Xóa bảng và stored procedures cũ nếu có
IF OBJECT_ID('NewUsers', 'U') IS NOT NULL
    DROP TABLE NewUsers;
GO

IF OBJECT_ID('AddProducts', 'U') IS NOT NULL
    DROP TABLE AddProducts;
GO

IF OBJECT_ID('AddOrders', 'U') IS NOT NULL
    DROP TABLE AddOrders;
GO

IF OBJECT_ID('ProductStatistics', 'U') IS NOT NULL
    DROP TABLE ProductStatistics;
GO

-- Tạo bảng Users (Lưu thông tin người dùng)
CREATE TABLE NewUsers (
    UserID INT IDENTITY PRIMARY KEY,
    Username NVARCHAR(50) NOT NULL UNIQUE,
    Password NVARCHAR(255) NOT NULL
);

-- Tạo bảng Products (Lưu thông tin sản phẩm)
CREATE TABLE AddProducts (
    ProductID INT IDENTITY PRIMARY KEY,
    ProductName NVARCHAR(100),
    Price DECIMAL(10, 2),
    QuantityInStock INT
);

-- Tạo bảng Orders (Lưu thông tin đơn hàng)
CREATE TABLE AddOrders (
    OrderID INT IDENTITY PRIMARY KEY,
    UserID INT FOREIGN KEY REFERENCES NewUsers(UserID),
    ProductID INT FOREIGN KEY REFERENCES AddProducts(ProductID),
    OrderDate DATETIME DEFAULT GETDATE(),
    Quantity INT,
    TotalAmount DECIMAL(10, 2)
);

-- Tạo bảng ProductStatistics (Lưu thống kê doanh thu và số lượng bán)
CREATE TABLE ProductStatistics (
    StatID INT IDENTITY PRIMARY KEY,
    ProductID INT FOREIGN KEY REFERENCES AddProducts(ProductID),
    TotalQuantitySold INT,
    TotalRevenue DECIMAL(10, 2)
);
GO

-- Stored Procedure Đăng nhập
IF OBJECT_ID('UserLogin', 'P') IS NOT NULL
    DROP PROCEDURE UserLogin;
GO

CREATE PROCEDURE UserLogin
    @Username NVARCHAR(50),
    @Password NVARCHAR(255)
AS
BEGIN
    IF EXISTS (SELECT 1 FROM NewUsers WHERE Username = @Username AND Password = @Password)
    BEGIN
        PRINT 'Đăng nhập thành công';
    END
    ELSE
    BEGIN
        PRINT 'Tên người dùng hoặc mật khẩu không đúng';
    END
END;
GO

-- Stored Procedure Thêm người dùng mới
IF OBJECT_ID('AddNewUser', 'P') IS NOT NULL
    DROP PROCEDURE AddNewUser;
GO

CREATE PROCEDURE AddNewUser
    @Username NVARCHAR(50),
    @Password NVARCHAR(255)
AS
BEGIN
    INSERT INTO NewUsers (Username, Password)
    VALUES (@Username, @Password);
    PRINT 'Đã thêm người dùng mới';
END;
GO

-- Stored Procedure Thêm sản phẩm mới
IF OBJECT_ID('AddNewProduct', 'P') IS NOT NULL
    DROP PROCEDURE AddNewProduct;
GO

CREATE PROCEDURE AddNewProduct
    @ProductName NVARCHAR(100),
    @Price DECIMAL(10, 2),
    @QuantityInStock INT
AS
BEGIN
    INSERT INTO AddProducts (ProductName, Price, QuantityInStock)
    VALUES (@ProductName, @Price, @QuantityInStock);
    PRINT 'Đã thêm sản phẩm mới';
END;
GO

-- Stored Procedure Xóa người dùng
IF OBJECT_ID('DeleteUserAccount', 'P') IS NOT NULL
    DROP PROCEDURE DeleteUserAccount;
GO

CREATE PROCEDURE DeleteUserAccount
    @UserID INT
AS
BEGIN
    DELETE FROM NewUsers WHERE UserID = @UserID;
    PRINT 'Đã xóa người dùng';
END;
GO

-- Stored Procedure Xóa sản phẩm
IF OBJECT_ID('DeleteProductFromStore', 'P') IS NOT NULL
    DROP PROCEDURE DeleteProductFromStore;
GO

CREATE PROCEDURE DeleteProductFromStore
    @ProductID INT
AS
BEGIN
    DELETE FROM AddProducts WHERE ProductID = @ProductID;
    PRINT 'Đã xóa sản phẩm';
END;
GO

-- Stored Procedure Cập nhật thông tin người dùng
IF OBJECT_ID('UpdateNewUser', 'P') IS NOT NULL
    DROP PROCEDURE UpdateNewUser;
GO

CREATE PROCEDURE UpdateNewUser
    @UserID INT,
    @NewUsername NVARCHAR(50),
    @NewPassword NVARCHAR(255)
AS
BEGIN
    UPDATE NewUsers
    SET Username = @NewUsername, Password = @NewPassword
    WHERE UserID = @UserID;
    PRINT 'Thông tin người dùng đã được cập nhật';
END;
GO

-- Stored Procedure Cập nhật thông tin sản phẩm
IF OBJECT_ID('UpdateProductDetails', 'P') IS NOT NULL
    DROP PROCEDURE UpdateProductDetails;
GO

CREATE PROCEDURE UpdateProductDetails
    @ProductID INT,
    @NewProductName NVARCHAR(100),
    @NewPrice DECIMAL(10, 2),
    @NewQuantityInStock INT
AS
BEGIN
    UPDATE AddProducts
    SET ProductName = @NewProductName, Price = @NewPrice, QuantityInStock = @NewQuantityInStock
    WHERE ProductID = @ProductID;
    PRINT 'Thông tin sản phẩm đã được cập nhật';
END;
GO

-- Stored Procedure Tìm kiếm sản phẩm
IF OBJECT_ID('SearchProductName', 'P') IS NOT NULL
    DROP PROCEDURE SearchProductName;
GO

CREATE PROCEDURE SearchProductName
    @ProductName NVARCHAR(100)
AS
BEGIN
    SELECT * FROM AddProducts
    WHERE ProductName LIKE '%' + @ProductName + '%';
END;
GO

-- Stored Procedure Thống kê doanh thu và số lượng bán
IF OBJECT_ID('GetSalesStatisticsReport', 'P') IS NOT NULL
    DROP PROCEDURE GetSalesStatisticsReport;
GO

CREATE PROCEDURE GetSalesStatisticsReport
AS
BEGIN
    SELECT p.ProductName, SUM(o.Quantity) AS TotalQuantitySold, SUM(o.TotalAmount) AS TotalRevenue
    FROM AddOrders o
    JOIN AddProducts p ON o.ProductID = p.ProductID
    GROUP BY p.ProductName;
END;
GO

-- Stored Procedure Thêm đơn hàng
IF OBJECT_ID('AddOrder', 'P') IS NOT NULL
    DROP PROCEDURE AddOrder;
GO

CREATE PROCEDURE AddOrder
    @UserID INT,
    @ProductID INT,
    @Quantity INT,
    @TotalAmount DECIMAL(10, 2)
AS
BEGIN
    -- Thêm đơn hàng vào bảng Orders
    INSERT INTO AddOrders (UserID, ProductID, Quantity, TotalAmount)
    VALUES (@UserID, @ProductID, @Quantity, @TotalAmount);
    PRINT 'Đã thêm đơn hàng mới';

    -- Cập nhật số lượng còn lại trong kho
    UPDATE AddProducts
    SET QuantityInStock = QuantityInStock - @Quantity
    WHERE ProductID = @ProductID;

    -- Cập nhật hoặc thêm thông tin thống kê cho sản phẩm
    IF EXISTS (SELECT 1 FROM ProductStatistics WHERE ProductID = @ProductID)
    BEGIN
        -- Cập nhật thống kê nếu đã có dữ liệu cho sản phẩm này
        UPDATE ProductStatistics
        SET 
            TotalQuantitySold = TotalQuantitySold + @Quantity,
            TotalRevenue = TotalRevenue + @TotalAmount
        WHERE ProductID = @ProductID;
    END
    ELSE
    BEGIN
        -- Thêm mới một bản ghi thống kê cho sản phẩm này nếu chưa có
        INSERT INTO ProductStatistics (ProductID, TotalQuantitySold, TotalRevenue)
        VALUES (@ProductID, @Quantity, @TotalAmount);
    END
END;
GO


-- Thêm người dùng mẫu
EXEC AddNewUser 'admin', 'admin123';
EXEC AddNewUser 'user1', 'password1';

-- Thêm sản phẩm mẫu
EXEC AddNewProduct 'Cà phê Sữa', 30.0, 100;
EXEC AddNewProduct 'Cà phê Đen', 25.0, 50;

-- Thêm đơn hàng mẫu
EXEC AddOrder 1, 1, 2, 60.0;  -- 2 Cà phê Sữa
EXEC AddOrder 1, 2, 3, 75.0;  -- 3 Cà phê Đen
GO

-- Ví dụ sử dụng:

-- Đăng nhập
EXEC UserLogin 'admin', 'admin123';

-- Cập nhật thông tin người dùng
EXEC UpdateNewUser 1, 'admin_updated', 'newpassword123';

-- Thêm sản phẩm mới
EXEC AddNewProduct 'Cà phê Trứng', 40.0, 200;

-- Tìm kiếm sản phẩm
EXEC SearchProductName 'Cà phê';

-- Thống kê doanh thu và số lượng bán
EXEC GetSalesStatisticsReport;
GO
